* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    padding: 10px;
    width: 40%;
}

th {
    color: white;
    background-color: black;
}

table, td, th {
    border: 1px solid #888888;
}

td, th {
    width: 25%;
    padding: 5px;
}

#totalCost {
    text-align: right;
}

.productTotalCost {
    text-align: right;
}

.productPrice {
    text-align: right;
}